.main-menu .navbar-header .nav .nav-item .navbar-brand .brand-logo-big {
  width: 145px;
  padding-left: 30px; }
.main-menu .navbar-header .nav .nav-item .navbar-brand .brand-logo-big img {
  width: 100%; }

.main-menu .main-menu-content .navigation {
  padding-top: 35px; }

#basic-datatable .card .dataTables_wrapper .datatables-basic thead .sorting {
  text-align: left; }

#basic-datatable .card .dataTables_wrapper .datatables-basic tbody tr td a {
  font-size: 17px;
  margin-right: 8px; }
